html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
    overflow-y: hidden;
}

h3 {
    margin: 8px;
    font-size: 16px;
}
h4 {  margin: 8px;  }
h4 + ul {  margin-top: 0;  }

form {  float: left;  }
form + form {  float: right;  }

form, input, label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#editor {
    width: 100%;
    height: 100%;
}

/* may God forgive me*/
#editor .CodeMirror {
    height: 100%;
    width: 100%;
}

.CodeMirror-scroll {
    z-index: 0
}

#hint {
    z-index: 1;
    margin: 16px;
    width: 300px;
    position: fixed;
    right: 0;
    background: #bbb;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#hint form {
    margin: 0 8px;
    padding: 8px 2px;
}

#hint ul { padding: 0 24px; }
#hint input { display: none; }
#hint input + label {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 4px;
}

#hint input:checked + label{
    /*background: #ae81ff;*/
    border-width: 3px;
    font-style: italic;
    font-weight: bold;
    padding: 3.5px;
}

.icon:hover {  opacity: 1;  }
.icon {
    position: fixed;
    opacity: 0.5;
}

#icons:hover {  cursor: pointer;  }
#icons {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    margin: 16px;
}

#save span {  font-size: 18px;  }
#settings {  height: 32px;  }
.key-binding { float: right; }
.cm-s-default .cm-latex {  color: black;  }
.cm-s-monokai .cm-latex {  color: white;  }

#filename {
    height: 24px;
    font-size: 16px;
}

.CodeMirror-dialog button, .error-panel input {
    margin: 4px;
    font-family: monospace;
    font-size: inherit !important;
    background: none;
    color: inherit;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    padding: 2px;
}

.CodeMirror-dialog button:focus, .error-panel input:focus {
    border-width: 2px;
    font-style: italic;
    font-weight: bold;
}

.error-panel {
    background: #bbb;
    height: 144px;
    overflow: auto;
}

.error-panel p {  margin: 0 16px;  }
.error-panel input {  width: 128px;  }
.error-panel span {  margin: 0 4px;  }

#graphics-panel {
    height: 340px;
    background: #bbb;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 10px;
}

#graphics-panel canvas {
    margin: 20px 10px;
    background: white;
}

.CodeMirror-hints {  background: #bbb !important;  }
li.CodeMirror-hint-active {  background: #272822 !important;  }
