<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Lambda</title>

    <link rel="icon" type="image/png" href="/images/lambda.png"/>
    <link rel="stylesheet" type="text/css" href="/build/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/hint.css"/>
</head>
<body>
    <div id="icons">
        <img height="36" class="icon" width="36" id="icon-close-black" src="/images/ic_close_black_36px.svg"/>
        <img height="36" class="icon" width="36" id="icon-close-white" src="/images/ic_close_white_36px.svg"/>
        <img height="36" class="icon" width="36" id="icon-settings-black" src="/images/ic_settings_black_36px.svg"/>
        <img height="36" class="icon" width="36" id="icon-settings-white" src="/images/ic_settings_white_36px.svg"/>
    </div>
    <div id="hint">
        <h1 id="filename">Lambda</h1>
        <h2 style="margin: 0 4px;">
            <a href="/auth" id="login">Login</a>
            <a href="https://github.com/joeltg/lambda" target="_blank">Source</a>
            <a href="http://joelgustafson.com/lambda" target="_blank">Documentation</a>
        </h2>
        <hr>
        <h2 id="settings" class="hint"><span>▲</span><span>Settings</span></h2>
        <ul>
            <li>
                <span>Keymap</span>
                <form id="keyMap">
                    <input type="radio" class="keyMap" id="keyMap-emacs" name="radio">
                    <label for="keyMap-emacs">emacs</label>
                    <input type="radio" class="keyMap" id="keyMap-sublime" name="radio" checked="checked">
                    <label for="keyMap-sublime">sublime</label>
                </form>
            </li>
            <li>
                <span>Theme</span>
                <form id="theme">
                    <input type="radio" class="theme" id="theme-light" name="radio">
                    <label for="theme-light">light</label>
                    <input type="radio" class="theme" id="theme-dark" name="radio" checked="checked">
                    <label for="theme-dark">dark</label>
                </form>
            </li>
        </ul>
        <hr>
        <h2 id="reference" class="hint"><span>▲</span><span>Reference</span></h2>
        <ul>
            <li>Eval document:<span id="eval-document" class="key-binding"></span></li>
            <li>Eval expression:<span id="eval-expression" class="key-binding"></span></li>
            <li>Toggle Expression:<span id="view" class="key-binding"></span></li>
            <li>Autocomplete:<span id="autocomplete" class="key-binding"></span></li>
            <li>Open File:<span id="open" class="key-binding"></span></li>
            <li>Save File:<span id="save" class="key-binding"></span></li>
            <li>Interrupt:<span id="interrupt" class="key-binding"></span></li>
            <li>Show/hide this panel:<span id="help" class="key-binding"></span></li>
        </ul>
        <hr>
        <h2 id="graphics" class="hint"><span>▲</span><span>Graphics</span></h2>
        <div id="graphics-drawer">
            <div id="graphics-panel">
                <span id="graphics-message">No windows open</span>
            </div>
        </div>
        <hr>
        <h2 id="console" class="hint"><span>▲</span><span>Console</span></h2>
        <div id="stdout"></div>
    </div>
    <div id="editor"></div>
    <script>
        window.uuid = '{{uuid}}';
        window.user = '{{user}}';
        window.file = '{{file}}';
    </script>
    <script type="application/javascript" src="/build/main.js"></script>
</body>
</html>
