html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
}

.hint {
    width: 200px;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 200px;
    background: white;
    opacity: 0.3;
    border-radius: 5px;
}

.label {
    margin-bottom: 4px;
}
.track {
    'stroke-width': 3;
    stroke: #ddd
}
.handle {
    fill: black
}
.point {
    fill: black;
}

h4 {
    margin-bottom: 4px;
}

#input, #output {
    overflow: auto;
}

#settings-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1000;
    opacity: 0.5;
}

#settings-icon:hover {
    opacity: 1;
    cursor: pointer;
}

#container {
    margin: 0;
    width: 100%;
    height: 100%;
}

.ui-widget {
    font-family: monospace !important;
}

.ui-dialog-title {
    font-size: 16px;
}

.ui-dialog-content, .ui-dialog {
    padding: 0 !important;
    overflow: hidden !important;
}

#settings-dialog {
    padding: 0 8px 0 8px !important;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.point {
    stroke: #000;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.tick line {
    opacity: 0.2;
}

.tick text {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    font-size: 12px;
    font-family: monospace;
}